body{

text-align:center;

font-family:Tahoma;

background:#fff2b8;

}


h1{

font-size:45px;

color:#8b5a2b;

}



.box{

background:white;

width:400px;

margin:20px auto;

padding:25px;

border-radius:25px;

box-shadow:0 5px 15px #999;

}



input,select{

padding:12px;

font-size:18px;

border-radius:10px;

}



button{

padding:12px 20px;

margin:8px;

border-radius:20px;

border:none;

background:#ffd54f;

font-size:18px;

cursor:pointer;

}



button:hover{

transform:scale(1.05);

}



#roleList,
#voteResult{

text-align:left;

line-height:2;

}
